.wrapper {
    margin: 20px 40px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.datePickerFlex {
    direction: rtl;
    text-align: right;
    display: flex;
    align-items: center;
}

.formLabel {
    margin-right: 20px;
    font-size: 20px;
}

.invalidInput {
    border: 2px solid red;
}

.success {
    color: green;
    text-align: center;
}