.wrapper {
    margin: 20px 40px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
}

.customerInfo, .productsInfo {
    padding-left: 40px;
    margin-bottom: 30px;
}

.productsInfo {
    padding: 0 20px;
}

.productsFlex {
    display: flex;
    justify-content: space-between;
}

.table {
    text-align: center;
}

.submitBtn {
    min-width: 80%;
    width: 80%;
    display: block;
    margin: 30px auto;
    font-size: 20px;
    font-weight: bold;
}