.wrapper {
    margin: 20px 40px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

.successMsg {
    color: green;
    text-align: center;
}

.dangerMsg {
    color: red;
    text-align: center;
}